<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<meta charset="utf-8">
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<div class="site">
  <div class="title">
    <a href="/">WTB</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  </div>
</div>

<a href="http://github.com/wtb36"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
